.carrousel {

    
    margin: 3% 4%;
    position: relative;
    
}

.fleche {
    position: absolute;
    width: 45px;
    
}
.fleche:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

.fleche-gauche {
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.fleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.carrousel-img {
    border-radius: 15px;
    height: 415px;
    object-fit: cover; 
    /* overflow: hidden; */
   
    display: none;
    width: 100%
}
.carrousel-img.actif {
    display: block;
}

@media screen and (max-width: 1490px) {
    .carrousel {
        height: 255px;
        margin: auto auto 15px auto;
    }

    .fleche {
        width: 15px;
    }
    
    .fleche-gauche {
        margin-left: 5px;
    }
    .fleche-droite {
        margin-right: 5px;
    }

    .carrousel-img {
        height: 255px;
    }
}