/* A revoir good  */
.description_tags {
    display: flex;
    justify-content: space-between;
    margin: 3% 4%;
    gap: 20px;
    flex-direction: column;
}

.descriptiondulogement {
    display: flex;
    flex-direction: column;
}

.titredulogement {
    color:#FF6060;
    font-size: 33px;
    padding-bottom: 5px;
}

.endroitdulogement {
    color:#FF6060;
    font-size: 18px;
}

.hote {
    display: flex;
    align-items: center;
    
}

/* FINIE */
.nomhote {
    color:#FF6060;
    width: 60px;
    text-align: right;
    margin-right: 10px;
}

/* Image de l'hote finie */
.imagehote { 
    border-radius: 50%;
    height: 60px;
   
}
/* a revoir */
.hote_etoile {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.description_equipements {
    display: flex;
    flex-direction: column;
    margin: 5% 4%;
    gap: 30px;
}

 
@media screen and (min-width:850px) {
    .description_tags {
        width: 65%;
        float: left;
    }
    .hote_etoile {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin: 5% 4%;
        /* position: absolute;
        right: 4%;
        top: 30%; */
    }
    .hote {
        margin-bottom: 20px;
    }

    .description_equipements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5% 4%;
        gap: 30px;
    }


}

