

/* .kasa-nav {
    position: absolute;
    left: 75.08%;
    right: 0%;
    
} */
 
.kasa_header {
    display: flex;
    align-items: center;
    margin: 40px 50px;
    justify-content: space-between;

    
}

.nav {
    text-decoration: none;
    color: #FF6060;
    padding: 10px;
}
.kasa_image {
    width: 210px;
	height: 68px;
}

