

.kasa_header {
    display: flex;
    align-items: center;
    margin: 3% 4%;
    justify-content: space-between;

    
}

.nav {
    text-decoration: none;
    color: #FF6060;
    padding: 10px;
    font-size: 20px;
}
.kasa_image {
    width: 19%;
	height: 68px;
}

