

footer {
    color: aliceblue;
    background-color: black;
	padding: 32px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	
	margin-top: 30px;
	position: relative;
}

footer img {
	
	margin-top: 2%;
	width: 122px;
	height: 40px;
}